@charset "ISO-8859-1";
.modal-backdrop {
    position: relative;
}

.col-sm-12 .title_video_like {
    margin-top: 15px;
    margin-left: 15px;
    color: orange;
}

.col-sm-12 .row_video_like {
    margin-left: 15px;
}

.col-sm-12 .row .card_video_like {
    margin-top: 15px;
    margin-right: 10px;
    width: 350px;
}